AntiClownApi/bdConfig.json
.idea/
.vs/
*.user
bin/
obj/
AntiClownApi/config.json
start.bat
build/
node_modules/
AntiClownApi/appsettings.Production.json
AntiClown.Api/appsettings.Production.json
AntiClown.Entertainment.Api/appsettings.Production.json
