AntiClownApi/bdConfig.json
.idea/
.vs/
*.user
bin/
obj/
AntiClownApi/config.json
start.bat
build/
node_modules/
AntiClownApi/appsettings.Production.json
AntiClown.Api/appsettings.Production.json
AntiClown.Entertainment.Api/appsettings.Production.json
AntiClown.Tools/appsettings.Production.json
AntiClown.EventsDaemon/appsettings.Production.json
Front/AntiClown.DiscordBot/appsettings.Production.json
AntiClown.DiscordBot/appsettings.Production.json
AntiClown.Api/appsettings.Local.json
AntiClown.DiscordBot/appsettings.Local.json
AntiClown.Entertainment.Api/appsettings.Local.json
AntiClown.EventsDaemon/appsettings.Local.json
AntiClown.Tools/appsettings.Local.json
AntiClown.Api.PostgreSqlMigrationsApplier/appsettings.Local.json
AntiClown.Api.PostgreSqlMigrationsApplier/appsettings.Production.json
AntiClown.Entertainment.Api.PostgreSqlMigrationsApplier/appsettings.Local.json
AntiClown.Entertainment.Api.PostgreSqlMigrationsApplier/appsettings.Production.json
AntiClown.DiscordBot.PostgreSqlMigrationsApplier/appsettings.Local.json
AntiClown.DiscordBot.PostgreSqlMigrationsApplier/appsettings.Production.json
AntiClown.DiscordBot.PostgreSqlMigrationsApplier/appsettings.PostgreSqlLocal.json
AntiClown.DiscordBot.PostgreSqlMigrationsApplier/appsettings.PostgreSqlProduction.json
AntiClown.DiscordBot/appsettings.RemoteProduction.json
AntiClown.Data.Api.PostgreSqlMigrationsApplier/appsettings.Local.json
AntiClown.Data.Api.PostgreSqlMigrationsApplier/appsettings.Production.json
AntiClown.Data.Api/appsettings.Local.json
AntiClown.Data.Api/appsettings.Production.json
AntiClown.Web.Api/appsettings.Production.json
AntiClown.Telegram.Bot/appsettings.Production.json
.DS_Store
nginx/nginx_local.conf
