<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="file1" xsi:type="File"
                fileName="$../Logs/${date:format=yyyy-MM-dd}.log"
                keepFileOpen="true"
        />
    </targets>
    <rules>
        <logger name="*" minlevel="Trace" writeTo="file1" />
    </rules>
</nlog>