<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="Transactions" xsi:type="File" fileName="./transactions.txt" />
        <target name="Default" xsi:type="File" fileName="./log.txt" />
    </targets>

    <rules>
        <logger name="Transactions" levels="Info,Warn,Error,Fatal,Debug,Trace" writeTo="Transactions" />
        <logger name="Default" levels="Info,Warn,Error,Fatal,Debug,Trace" writeTo="Default" />
    </rules>
</nlog>