.App{
  background-color: #000833;
}

.header {
  text-align: center;
  color: white;
  font-size: calc(7px + 2vmin);
  height: 4vmin;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.App-content {
  min-height: 96vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(5px + 2vmin);
  color: white;
}

.settingsRoutes{
  min-width: 18vw;
}

.settingsEditor{
  min-width: 81vw;
}