name: Master Deployment

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  detect-changes:
    name: Detect Changes for Deployments
    runs-on: ubuntu-latest
    outputs:
      deploy_api: ${{ steps.check.outputs.deploy_api }}
      deploy_data_api: ${{ steps.check.outputs.deploy_data_api }}
      deploy_entertainment_api: ${{ steps.check.outputs.deploy_entertainment_api }}
      deploy_discord_bot: ${{ steps.check.outputs.deploy_discord_bot }}
      deploy_events_daemon: ${{ steps.check.outputs.deploy_events_daemon }}
      deploy_telegram_bot: ${{ steps.check.outputs.deploy_telegram_bot }}
      deploy_web_api: ${{ steps.check.outputs.deploy_web_api }}
      deploy_front: ${{ steps.check.outputs.deploy_front }}
      deploy_nginx: ${{ steps.check.outputs.deploy_nginx }}
      migrate_api: ${{ steps.check.outputs.migrate_api }}
      migrate_data_api: ${{ steps.check.outputs.migrate_data_api }}
      migrate_entertainment_api: ${{ steps.check.outputs.migrate_entertainment_api }}
      migrate_discord_bot: ${{ steps.check.outputs.migrate_discord_bot }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 2

      - name: Detect changes in specific projects
        id: check
        run: |
          # Data.Api migrations
          if git diff --name-only HEAD^ HEAD | grep -E '^AntiClown\.Data\.Api\.Core/Migrations/'; then
            echo "migrate_data_api=true" >> $GITHUB_OUTPUT
          fi

          # Api migrations
          if git diff --name-only HEAD^ HEAD | grep -E '^AntiClown\.Api\.Core/Migrations/'; then
            echo "migrate_api=true" >> $GITHUB_OUTPUT
          fi

          # Entertainment.Api migrations
          if git diff --name-only HEAD^ HEAD | grep -E '^AntiClown\.Entertainment\.Api\.Core/Migrations/'; then
            echo "migrate_entertainment_api=true" >> $GITHUB_OUTPUT
          fi

          # DiscordBot migrations
          if git diff --name-only HEAD^ HEAD | grep -E '^AntiClown\.DiscordBot/Migrations/'; then
            echo "migrate_discord_bot=true" >> $GITHUB_OUTPUT
          fi

          # Data.Api
          if git diff --name-only HEAD^ HEAD | grep -E '^(AntiClown\.Data\.Api|AntiClown\.Data\.Api\.Core)/'; then
            echo "deploy_data_api=true" >> $GITHUB_OUTPUT
          fi

          # Api
          if git diff --name-only HEAD^ HEAD | grep -E '^(AntiClown\.Api|AntiClown\.Api\.Core)/'; then
            echo "deploy_api=true" >> $GITHUB_OUTPUT
          fi

          # Entertainment.Api
          if git diff --name-only HEAD^ HEAD | grep -E '^(AntiClown\.Entertainment\.Api|AntiClown\.Entertainment\.Api\.Core)/'; then
            echo "deploy_entertainment_api=true" >> $GITHUB_OUTPUT
          fi

          # DiscordBot
          if git diff --name-only HEAD^ HEAD | grep -E '^AntiClown\.DiscordBot/'; then
            echo "deploy_discord_bot=true" >> $GITHUB_OUTPUT
          fi

          # TelegramBot
          if git diff --name-only HEAD^ HEAD | grep -E '^AntiClown\.Telegram.Bot/'; then
            echo "deploy_telegram_bot=true" >> $GITHUB_OUTPUT
          fi

          # EventsDaemon
          if git diff --name-only HEAD^ HEAD | grep -E '^AntiClown\.EventsDaemon/'; then
            echo "deploy_events_daemon=true" >> $GITHUB_OUTPUT
          fi

          # Web.Api
          if git diff --name-only HEAD^ HEAD | grep -E '^AntiClown\.Web\.Api/'; then
            echo "deploy_web_api=true" >> $GITHUB_OUTPUT
          fi

          # Web.Front
          if git diff --name-only HEAD^ HEAD | grep -E '^AntiClown\.Web\.Front/'; then
            echo "deploy_front=true" >> $GITHUB_OUTPUT
          fi

          # Nginx
          if git diff --name-only HEAD^ HEAD | grep -E '^nginx/'; then
            echo "deploy_nginx=true" >> $GITHUB_OUTPUT
          fi

  migrate_api:
    name: Migrate Api PostgreSql
    needs: detect-changes
    if: needs.detect-changes.outputs.migrate_api == 'true'
    uses: ./.github/workflows/DeployApiPostgreSqlMigrator.yml
    secrets: inherit

  migrate_data_api:
    name: Migrate Data.Api PostgreSql
    needs: detect-changes
    if: needs.detect-changes.outputs.migrate_data_api == 'true'
    uses: ./.github/workflows/DeployDataApiPostgreSqlMigrator.yml
    secrets: inherit

  migrate_entertainment_api:
    name: Migrate Entertainment.Api PostgreSql
    needs: detect-changes
    if: needs.detect-changes.outputs.migrate_entertainment_api == 'true'
    uses: ./.github/workflows/DeployEntertainmentApiPostgreSqlMigrator.yml
    secrets: inherit

  migrate_discord_bot:
    name: Migrate DiscordBot PostgreSql
    needs: detect-changes
    if: needs.detect-changes.outputs.migrate_discord_bot == 'true'
    uses: ./.github/workflows/DeployDiscordBotPostgreSqlMigrator.yml
    secrets: inherit

  deploy_data_api:
    name: Deploy Data.Api
    needs: [detect-changes, migrate_data_api]
    if: ${{ needs.detect-changes.outputs.deploy_data_api == 'true' && !failure() && !cancelled() }}
    uses: ./.github/workflows/DeployDataApi.yml
    secrets: inherit

  deploy_api:
    name: Deploy Api
    needs: [detect-changes, migrate_api]
    if: ${{ needs.detect-changes.outputs.deploy_api == 'true' && !failure() && !cancelled() }}
    uses: ./.github/workflows/DeployApi.yml
    secrets: inherit

  deploy_entertainment_api:
    name: Deploy Entertainment.Api
    needs: [detect-changes, migrate_entertainment_api]
    if: ${{ needs.detect-changes.outputs.deploy_entertainment_api == 'true' && !failure() && !cancelled() }}
    uses: ./.github/workflows/DeployEntertainmentApi.yml
    secrets: inherit

  deploy_discord_bot:
    name: Deploy DiscordBot
    needs: [detect-changes, migrate_discord_bot]
    if: ${{ needs.detect-changes.outputs.deploy_discord_bot == 'true' && !failure() && !cancelled() }}
    uses: ./.github/workflows/DeployDiscordBot.yml
    secrets: inherit

  deploy_events_daemon:
    name: Deploy EventsDaemon
    needs: detect-changes
    if: needs.detect-changes.outputs.deploy_events_daemon == 'true'
    uses: ./.github/workflows/DeployEventsDaemon.yml
    secrets: inherit

  deploy_telegram_bot:
    name: Deploy TelegramBot
    needs: detect-changes
    if: needs.detect-changes.outputs.deploy_telegram_bot == 'true'
    uses: ./.github/workflows/DeployTelegramBot.yml
    secrets: inherit

  deploy_web_api:
    name: Deploy Web.Api
    needs: detect-changes
    if: needs.detect-changes.outputs.deploy_web_api == 'true'
    uses: ./.github/workflows/DeployWebApi.yml
    secrets: inherit

  deploy_front:
    name: Deploy Web.Front
    needs: detect-changes
    if: needs.detect-changes.outputs.deploy_front == 'true'
    uses: ./.github/workflows/DeployWebFront.yml
    secrets: inherit

  deploy_nginx:
    name: Deploy Nginx
    needs: detect-changes
    if: needs.detect-changes.outputs.deploy_nginx == 'true'
    uses: ./.github/workflows/DeployNginx.yml
    secrets: inherit
